.register-container{
    max-width: 980px;
    margin: 0 auto;
    padding: 50px 0;
    text-align:center;
}

.image-logo img {
    width: 350px;
    height: 150px;
    margin-top: 0px;
}

.form-register {
    width: 100%;
    max-width: 580px;
    margin: 30px auto 0;
    padding: 30px;
    background: #fff;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
}


.form-register input {
    margin-bottom: 10px;
    height: 38px;
    border-radius: 4px;
    border: 1px solid #ddd;
    padding: 0 20px;
    font-size: 14px;
  }


  .form-register img {
    max-width:300px;
    max-height:300px;
    width: auto;
    height: auto;
    border:2px solid #ddd;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px;
  }

 

  .form-register textarea {
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    padding: 0 20px;
    font-size: 14px;

    
  }
  .form-register input[type=checkbox] {
    width: 16px;
    height: 13px;
    padding: 10;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
  }

  .form-register input[type=file] {
    margin-bottom: 10px;
    margin-left: 87px;
    height: 38px;
    border: 1px transparent;
    padding: 0 20px;
    font-size: 14px;
    
  }

  .form-register label {
    margin-bottom: 20px;
    border-radius: 4px;
    padding-left: 15px;
    text-indent: -15px;
    padding: 0 20px;
    font-size: 14px;
  }

  .form-register button {
    padding: 10px 20px;
    border-radius: 4px;
    border: 0;
    background: #a7308d;
    color: #FFF;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
  }

  .form-register button:hover {
    background: #681457;
    color: #FFF;

  }
  .botao-meets {
    position:absolute; 
    top:100%;
    right:100%;
    
  }

  
